<template>
    <lightning-card title={objectApiName} icon-name="custom:custom85" >
     <div class="slds-m-around_medium">
         <!--Start sObject List-->
        <template if:true={similarProjects}>
            <lightning-input type="search"
                onchange={handleSearchTermChange}
                variant="label-hidden"
                class="slds-m-bottom_small"
                label="Search"
                placeholder="Search for projects"
                value={searchTerm}>
            </lightning-input>
            <ul class="slds-list_vertical slds-has-dividers_top-space">
                <template for:each={similarProjects}
                        for:item="item"
                        if:true={similarProjects}>
                    <li key={item.Id}
                        class="slds-list__item">
                        <lightning-button key={item.Id} 
                                                variant="base" 
                                                label={item.Name} 
                                                title="View project" 
                                                onclick={handleRecordView} value={item.Id}>
                            </lightning-button>
                        <lightning-button-icon icon-name="utility:edit"
                            class="slds-col_bump-left"
                            icon-class="slds-button__icon_hint"  
                            variant="bare" 
                            alternative-text="Edit Record"
                            onclick={editRecord} value={item.Id}> 
                        </lightning-button-icon> 
                        <p>{item.Network_Platform_formula__c} </p>
                        <p>{item.Cable_Genre__c}</p>
                    </li>
                </template>
            </ul>
        </template>
        <!--End of list-->
        <!--Data failed to load-->
        <template if:false={error}>
            <lightning-input type="search"
                onchange={handleSearchTermChange}
                variant="label-hidden"
                class="slds-m-bottom_small"
                label="Search"
                placeholder="Search for projects"
                value={searchTerm}>
            </lightning-input>
                An {error} occurred while loading the list
        </template>
     </div>
    </lightning-card>
</template>